# This is a basic workflow to help you get started with Actions

name: UpdateFromOrigin

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Upstream Sync
        # You may pin to the exact commit or the version.
        # uses: aormsby/Fork-Sync-With-Upstream-action@48f332742cb9d99febdd7ec6fb39696ad5d186f4
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.3.1
        with:
          # Branch receiving updates from the upstream repo, e.g. => main, master, prod
          target_sync_branch: main
          # Input for passing secrets.GITHUB_TOKEN when disabling persistent auth in the checkout step
          target_repo_token: ${{ secrets.GITHUB_TOKEN}}
          # Upstream repository, e.g. => aormsby/Fork-Sync-With-Upstream-action
          upstream_sync_repo: MicrosoftDocs/azure-docs
          # Branch to sync from, e.g. => main, master, dev
          upstream_sync_branch: main
          # Any extra args to pass to `git checkout` on the source branch, e.g. --recurse-submodules :: default = ""
          target_branch_checkout_args: ""
          # Args to print the list of new commits from upstream :: default = --pretty=oneline
          git_log_format_args: --pretty=oneline
          # Git args passed when running `git pull` against the upstream repo, e.g. --ff-only or --tags :: default = ""
          upstream_pull_args: ""
          # Git args passed when running `git push` to apply changes to the source repo, e.g. --force :: default = ""
          target_branch_push_args: ""
          # Git user credentials for sigining commit, (set to "null" for no config)
          git_config_user: GH Action - Upstream Sync
          # Git email credentials for sigining commit (set to "null" for no config)
          git_config_email: action@github.com
          # Git config for "pull.rebase" settings, usually recommend false for this action (set to "null" for no config)
          git_config_pull_rebase: false
          # If set to 'true', runs verification test on all inputs and any testable actions that use them
          test_mode: false
          # Domain name to be used in upstream repo URL.
          host_domain: github.com
          # Length of time used when fetching shallow repo data, should match how often you perform a sync
          shallow_since: 1 month ago

